.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4% 80px 4%;
}
@media only screen and (min-width: 1200px) {
  .About {
    padding: 0 6% 80px 6%;
  }
}

.Button {
  text-decoration: none;
  padding: 1.25em 1.5em;
  font-size: 0.6875rem;
  letter-spacing: 0.16em;
  font-family: 'futura-pt', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
  color: var(--p-color);
  background-color: #d2e8ee;
  display: inline-block;
  border-radius: 3px;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 0.25s;
}

.Button:hover {
  color: #ffffff;
  background-color: var(--p-color);
}
