.NavigationItem {
  font-family: 'futura-pt', sans-serif;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  box-sizing: fit-content;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 12px 0px;
}
@media only screen and (min-width: 600px) {
  .NavigationItem {
    margin: 0 10px;
  }
}
.NavigationItem a {
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  transition-property: color;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 0.25s;
}

.NavigationItem a:hover {
  color: var(--p-color);
}

.NavigationItem a:active,
.NavigationItem a.active {
  color: var(--p-color);
}
