.Root {
  padding: 10% 6%;
  background-color: var(--s-color);
}
@media only screen and (min-width: 600px) {
  .Root {
    padding: 60px 6%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 800px) {
  .Root {
    padding: 60px 8%;
    padding-bottom: 20px;
  }
}

.Footer {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .Footer {
    width: 600px;
  }
}
@media only screen and (min-width: 800px) {
  .Footer {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .Footer {
    width: 1200px;
  }
}

@media only screen and (min-width: 600px) {
  .CenterItems {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.BottomItems {
  margin-top: 25px;
  font-size: 0.8125rem;
  color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
}
@media only screen and (min-width: 600px) {
  .BottomItems {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-top: 60px;
  }
}
@media only screen and (min-width: 800px) {
  .BottomItems {
    flex-direction: row;
  }
}

.BottomItems a {
  text-decoration: none;
  font-size: 0.8125rem;
  color: rgba(255, 255, 255, 0.2);
  margin-right: 1em;
}

.Disclaimer {
  margin-bottom: 15px;
  line-height: 1.8;
}
@media only screen and (min-width: 800px) {
  .Disclaimer {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.LegalNav {
  /* margin-bottom: 35px; */
  line-height: 1.8;
}

/* .CenterItems{
  display: flex;
} */

/* .FooterContent {
  display: flex;
  flex-direction: column;
}

.Disclaimer {
  font-size: 0.8125rem;
  color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  line-height: 1.9;
}
@media only screen and (min-width: 600px) {
  .Disclaimer {
    display: inline-block;
    vertical-align: middle;
  }
}

.BottomItems {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.LegalNav {
  font-size: 0.8125rem;
}
@media only screen and (min-width: 600px) {
  .LegalNav {
    display: inline-block;
    vertical-align: baseline;
  }
}

.LegalNav a {
  color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
}
a {
  text-decoration: none;
  position: relative;
  color: #00d4c1;
  text-decoration: none;
}
a {
  background-color: transparent;
} */ ;
