.banner {
  height: 32vh;
  width: 100vw;
  margin-top: 65px;
  color: white;
  font-family: 'futura-pt', sans-serif;
  position: relative;
}

.img {
  height: 100%;
}

.bannerTitle {
  left: 20px;
  top: 20px;
  padding-right: 5px;
  position: absolute;
}

.body {
  padding-left: 4%;
  padding-right: 4%;
  color: var(--s-color);
}

.cards {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.icons {
  font-size: 100px;
}

@media only screen and (min-width: 900px) {
  .body {
    margin: 50px auto 20px auto;
    max-width: 1200px;
  }
  .banner {
    height: 90vh;
    margin-top: 100px;
  }
  .bannerTitle {
    width: 60%;
    left: 100px;
    top: 280px;
    font-size: 2.8rem;
  }
}
