.Root {
  display: flex;
  flex-direction: column;
}

.Blog {
  padding-left: 6%;
  padding-right: 6%;
  color: var(--s-color);
}

.cards {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.icons {
  font-size: 100px;
}

@media only screen and (min-width: 900px) {
  .Blog {
    padding-left: 0;
    margin: 50px 0 20px 0;
    padding-right: 0;
    width: 1200px;
    align-self: center;
  }
}

.Root hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
