@media only screen and (min-width: 600px) {
  .AboutCard {
    width: 40%;
  }
}

@media only screen and (min-width: 960px) {
  .AboutCard {
    max-width: 20%;
    height: 320px;
  }
}

.Heading {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: 'futura-pt', sans-serif;
  color: #233b56;
  position: relative;
  width: fit-content;
}

.Heading::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background-color: #233b56;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 0.125s;
  transform: scaleX(0);
  visibility: hidden;
}

.Heading:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.Body {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'proxima-nova', sans-serif;
}

.Button {
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-family: 'futura-pt', sans-serif;
  display: inline-block;
  position: relative;
  color: var(--p-color);
  text-decoration: none;
  margin-top: 2.5rem;
}

.Button {
  margin-top: auto;
}

.Button::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background-color: var(--p-color);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 0.125s;
  transform: scaleX(0);
  visibility: hidden;
}

.Button:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
