.CardMedia {
  margin-top: 65px;
  position: relative;
  width: 100vw;
}

.video {
  object-fit: cover;
}

.CardTitle {
  position: absolute;
  left: 20px;
  bottom: 0px;
  width: 90%;
  z-index: 2;
  font-size: 32px;
  font-family: 'futura-pt', sans-serif;
  color: white;
}

@media only screen and (min-width: 800px) {
  .CardMedia {
    position: relative;
    margin-top: 100px;
    height: 90vh;
  }
  .CardTitle {
    position: absolute;
    left: 50px;
    bottom: 100px;
    width: 60%;
    z-index: 2;
    font-size: 40px;
    font-family: 'futura-pt', sans-serif;
    color: white;
  }
}

@media only screen and (min-width: 1200px) {
  .CardMedia {
    margin-top: 100px;
  }
  .CardTitle {
    position: absolute;
    left: 100px;
    bottom: 100px;
    width: 60%;
    z-index: 2;
    font-size: 82px;
    font-family: 'futura-pt', sans-serif;
    color: white;
  }
}

.CardMedia::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
