.App {
  margin: 0;
  padding: 0;
}

:root {
  --p-color: #24a3d8;
  --s-color: #233b56;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.para {
  font-size: 1.1rem;
  font-family: 'proxima nove', sans-serif;
  line-height: 2rem;
  font-weight: 100;
  text-align: left;
}

.heading {
  text-transform: capitalize;
  color: var(--p-color);
}

.sub-heading {
  text-transform: capitalize;
  color: var(--p-color);
}
