.Card {
  width: 90vw;
  margin-bottom: 2vw;
}

.Card:hover {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.CardMedia img {
  width: 90vw;
  height: 100%;
}

@media only screen and (min-width: 540px) {
  .Card {
    width: 42vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .CardMedia img {
    width: 42vw;
  }
}

@media only screen and (min-width: 960px) {
  .Card {
    width: 28vw;
  }
  .CardMedia img {
    width: 28vw;
  }
}

@media only screen and (min-width: 1200px) {
  .Card {
    width: 365px;
  }
  .CardMedia img {
    width: 365px;
  }
}

.Card a {
  position: relative;
  text-decoration: none;
}

.Card a::before {
  content: "";
  position: absolute;
  z-index: 2;
  height: 2px;
  width: 90%;
  bottom: 65px;
  left: 20px;
  background-color: #ffffff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.Card a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.CardHeader {
  background-color: white;
  padding: 20px;
}

.Header {
  width: fit-content;
  color: #233b56;
  font-size: 0.6875rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "proxima-nova" sans-serif;
  position: relative;
  letter-spacing: 0.1em;
}

.Header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.Card:hover .Header::before {
  visibility: visible;
  transform: scaleX(1);
}

.CardMedia {
  position: relative;
  display: inline-block;
}

.CardMedia::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #24a3d8;
  opacity: 0.4;
}

.CardTitle {
  position: absolute;
  left: 20px;
  bottom: 60px;
  width: 90%;
  display: grid;
  z-index: 2;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "proxima-nova", sans-serif;
  line-height: 1.4;
  text-decoration: none;
  color: white;
}
